extends ../layout

block content
  .page-header
    h3= t('account.signup')
  form.form-horizontal(id='signup-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='email')= t('account.email')
      .col-sm-7
        input.form-control(type='email', name='email', id='email', placeholder=t('account.email'), autofocus)
    .form-group
      label.col-sm-3.control-label(for='password')= t('account.password')
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder=t('account.password'))
    .form-group
      label.col-sm-3.control-label(for='confirmPassword')= t('account.confirmPassword')
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder=t('account.confirmPassword'))
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-user-plus
          = t('account.signup')
