.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only= t('app.logoAltText')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        i.fa.fa-cube
        b Travel
        | Costs
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=title== t('account.login')?'active':undefined)
            a(href='/login')= t('account.login')
          li(class=title== t('account.createAccount')?'active':undefined)
            a(href='/signup')= t('account.createAccount')
        else
          li.dropdown(class=title== t('account.accountManagement')?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img.profile-picture(src='#{user.profile.picture}')
              else
                img.profile-picture(src='#{user.gravatar(60)}')
              | #{user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li
                a(href='/account')= t('account.myAccount')
              li.divider
              li
                a(href='/logout')= t('account.logout')