extends layout

block content

  div(ng-app='travelCosts')
    div(ng-controller='TravelCostController')
      .row.slider-row
        .row
          .col-sm-4
            div.categoryLabel= t('costCategories.food.label')

          .col-sm-4
            div.categoryLabel= t('costCategories.accommodation.label')

          .col-sm-4
            div.categoryLabel= t('costCategories.transportation.label')

        .row
          .col-sm-4
            slider#slider-food(min=0, max=100, start=10)

          .col-sm-4
            slider#slider-accommodation(min=0, max=100, start=50)

          .col-sm-4
            slider#slider-transportation(min=0, max=100, start=90)

        .row
          .col-sm-4
            span.pull-left= t('costCategories.food.option1')
            span.middle= t('costCategories.food.option2')
            span.pull-right= t('costCategories.food.option3')

          .col-sm-4
            span.pull-left= t('costCategories.accommodation.option1')
            span.middle= t('costCategories.accommodation.option2')
            span.pull-right= t('costCategories.accommodation.option3')

          .col-sm-4
            span.pull-left= t('costCategories.transportation.option1')
            span.middle= t('costCategories.transportation.option2')
            span.pull-right= t('costCategories.transportation.option3')
            
      .row
        .col-sm-3
          h3= t('itinerary.title')

          div.itinerary
            input.itinerary-input#waypoint(type='text', ng-model="waypoint")
            div.itinerary-box
              ul
                li(ng-repeat="item in itinerary track by $index")
                  .row
                    .col-sm-1
                      div.marker &nbsp;
                    .col-sm-9
                      span.location {{item.place.formatted_address}}
                    .col-sm-1
                      div.pull-right.icon-action-grey600.icon-action-grey600-ic_delete_grey600_24dp(
                        ng-click='deleteWaypoint(item, $index)')

        .col-sm-9
          map#itinerary-map